.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage__logo {
    object-fit: contain;
    height: 85px;
    margin-right: 50px;
}

/* override */

.searchPage__headerBody > .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__options {
    display: flex;
    align-items: center;
    color: grey;
}

.searchPage__optionsRight a, .searchPage__optionsLeft a {
    text-decoration: none;
    color: gray;
}

.searchPage__optionsRight, .searchPage__optionsLeft {
    display: flex;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a {
    margin-left: 5px;
}

.searchPage__result {
    margin: 40px 0;
}

.searchPage__resultWeb {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}

.searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
    
}

.searchPage__resultTitle {
    text-decoration: none;
    color: #1906A7;
}
.searchPage__resultTitle:visited {
    color: #990F0F;
}

.searchPage__resultTitle:hover {
    text-decoration: underline;
}

.searchPage__resultTitle > h2 {
    font-weight: 500;
}

.searchPage__resultSnippet {
    margin-top: 10px;
}